.bitbucket {
  &__pull-request {
    position relative;
    min-height 34px;
    padding 9px 15px 9px 50px;
    &__id {
      display inline;
      margin-right 5px;
      color #30C279;
      font-weight: 600;

    }
    &__author {
      display inline;
      margin-right 5px;
      color #88C3EA;
    }
    &__title {
      display inline;
      font-size 13px;
    }
  }
}
